.agregador-tareas {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.agregador-tareas input {
  flex-grow: 1;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  transition: 0.3s;
}

.agregador-tareas input:focus {
  border-color: #74ebd5;
  outline: none;
}

.agregador-tareas button {
  padding: 10px 15px;
  background: #74ebd5;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.agregador-tareas button:hover {
  background: #4ac3d9;
}
